body{
  display: flex;
  background-color: black;
  justify-content: center;
}

.base{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 95%;
  height: 100%;
  overflow: hidden; 
  padding: 0 1rem;
}

.sub-secoes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.sub-secoes .subtitulo{
    color: #5F5F5F;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}

/* Hs*/
h1{
    color: white;
}

h3{
  color: gray;
}

/* cards */

.lista-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin:.5rem
}

.card-base{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
}

.card-base .card-esq{
  display: flex;
  background-color: red;
  height: 100%;
  width: 20%;
  border-radius: 10px 0 0 10px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.card-base .card-dir{
  background-color: #0d0d0d;
  height: 100%;
  border-radius: 0 10px 10px 0;
  padding: .5rem;
  box-sizing: border-box;
}

.card-title{
  font-size: 15px;
  color: white;
}
.card-text{
  font-size: 12px;
  color: #5F5F5F;
}

.card-text.data::before{
  content: "📆";
}
.card-text.hora::before{
  content: "🕒";
}
.card-text.local::before{
  content: "🚩";
}

